{% extends 'base.html.twig' %}

{% block title %}Mes commandes -Yggdrasil {% endblock %}

{% block content %}
    <div class="container">

        <h1>Mes commandes</h1>
        C'est dans cette espace que vous allez pouvoir gérer toutes vos commandes.
        <br />
        <a href="{{ path('account') }}">Retour</a>

        {% if commands|length ==0 %}
            <hr>
            <p class="text-center">
                Vous n'avez pas encore passé de de commande sue l'atelier Yggdrasil.
            </p>
        {% else %}
            <table class="table mt-4">
                <thead>
                <tr>
                    <th scope="col">Reference</th>
                    <th scope="col">Statut</th>
                    <th scope="col">Passée le</th>

                    <th scope="col">Produit(s)</th>
                    <th scope="col">Total</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>


                {% for command in commands %}

                    <tr>
                        <td><span class="badge badge-secondary">{{ command.reference }}</span></td>
                        <td>
                            {% if command.state == 1 %}
                                Paiement accepté
                            {% elseif command.state == 2 %}
                                Préparation en cours
                            {% elseif command.state == 3 %}
                                Livraison en cours
                                {% endif %}
                        </td>
                        <td>{{ command.createdAt|date('d/m/y') }}</td>

                        <td>{{ command.commandDetails|length}}</td>
                        <td>{{ ((command.priceSending + command.getTotal)/100)|number_format(2, ',', '.') }} €</td>
                        <td class="text-right"><a href="{{ path('account_command_show',{'reference' : command.reference}) }}">Voir ma commande</a></td>

                    </tr>

                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}