<div class="product">
    <a href="{{ path('product', {'slug' : product.slug}) }}" class="img-prod">
        <img src="/uploads/{{ product.illustration }}" alt="{{ product.name }}" class="img-fluid">
        <div class="overlay"></div>
    </a>
    <div class="text py-3 px-3">
        <h3>{{ product.name }}</h3>
        <span>{{ product.subtitle }}</span>
        <div class="d-flex">
            <div class="pricing">
                <p class="price"><span class="price-sale">{{ (product.price / 100)|number_format(2,',', '.')}} €</span></p>
            </div>
        </div>

    </div>


</div>